
<div class="tile">
   
    <a href="~~$view->href~">
	    <div class="photo">
	        <img src="~~$view->srcImage~" alt="~~$view->title~" />
	    </div>

	    <div class="description">
	    	~~$view->title~ 
	    </div>
	</a>
	<div class="band" style="height:11px;background-color:white;"> &nbsp;</div>
</div>