
<div class="tile">
   
    <a href="~~$view->link~">
	    <div class="band" style="padding-top:30px; padding-bottom:30px;padding-left:20px;padding-right:20px;background-color:#f1f1f1;">
			~~$view->title~ 
	    </div>
	    <div class="description">
	    	
	    </div>
	</a>
	
</div>