<!-- start:meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

~if($view->hasTitle) {~
 <meta property="og:title" content="~~$view->title~"/>
~}~

~if($view->hasDescription) {~
 <meta name="description" content="~~$view->description~" >
 <meta property="og:description" content="~~$view->description~"/>
~}~

~if($view->hasImage) {~
<meta property="og:image" content="~~$view->image~"/>
~}~

<!-- end:meta tags -->

