<!-- page:header -->

~if($view->hasTitle) {~
 <meta property="og:title" content="~~$view->title~"/>
~}~

~if($view->hasDescription) {~
 <meta name="description" content="~~$view->description~" >
 <meta property="og:description" content="~~$view->description~"/>
~}~

~if($view->hasImage) {~
<meta property="og:image" content="~~$view->image~"/>
~}~

