<h4> Posts </h4>
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
	~foreach($view->tabs as $tab){~
    <li class="~~$tab['class']~"><a href="~~$tab['href']~">~~$tab['name']~</a></li>
 	~}~
  </ul>
  <div class="tab-content"> </div>
</div> 


 

