
<div id="admin-toolbar">
    <div>
        <ul class="tools unstyled">
            
            ~~$view->editPageUrl~
            ~~$view->editPostUrl~
            ~~$view->newPostUrl~
            ~~$view->allPageUrl~
            ~~$view->settingsUrl~

        </ul>
        <div class="clear"> </div>
    </div>
</div>

