<?php
    require_once ('wb-app.inc');
    require_once (APP_WEB_DIR.'/inc/header.inc');

    use \com\indigloo\Url as Url ;
    use \com\indigloo\util\StringUtil as StringUtil ;
    use \com\indigloo\wb\Constants as AppConstants;
    use \com\indigloo\wb\html\Application as AppHtml ;

    $gWeb = \com\indigloo\core\Web::getInstance();
    $gSiteView = $gWeb->getRequestAttribute(AppConstants::SITE_SESSION_VIEW);
    $siteId = $gSiteView->id ;
    
    $seo_title = $router_params["token"];
    $pageDao = new \com\indigloo\wb\dao\Page();
    $postDao = new \com\indigloo\wb\dao\Post();

    $pageDBRow = $pageDao->getOnSeoTitle($siteId,$seo_title);
    $gPageId = $pageDBRow["id"];

    // current page posts
    $postDBRows = $postDao->getOnPageId($siteId,$gPageId);
    //to determine the edit link
    $gNumPosts = sizeof($postDBRows);

    // page title + links in menu
    $menuDBRows = $pageDao->getLatestTitles($siteId,10);
    $menuHtml = AppHtml::getPageMenu($menuDBRows);
     
    $pageHtml = "" ;
    
    if($gNumPosts > 0) {
        foreach($postDBRows as $postDBRow) {
            $pageHtml .= AppHtml::getPost($postDBRow);
        }
    } else {
        // help content
        $pageHtml = AppHtml::getHelp("default.post.create");
    }

    $G_BUTTONS = 
    AppConstants::TOOLBAR_NEW_POST 
    | AppConstants::TOOLBAR_SETTINGS 
    | AppConstants::TOOLBAR_ALL_PAGES;
    
    if($gNumPosts > 0 ) {
        $G_BUTTONS = $G_BUTTONS | AppConstants::TOOLBAR_EDIT_PAGE ;
    }

    $toolbar_options = array("page_id" => $gPageId);
    

?>

<!DOCTYPE html>
<html>

    <head>
        <title> <?php echo $pageDBRow["title"] ?> </title>
        <?php include("meta.inc") ?>
        <?php echo \com\indigloo\wb\util\Asset::version("/css/wb-bundle.css"); ?>


    </head>

    <body>
        <?php echo AppHtml::getAppSiteToolbar(); ?>
        <?php echo AppHtml::getAppBanner($gSiteView); ?>
        <?php echo AppHtml::getAppToolbar($gSiteView,$G_BUTTONS, $toolbar_options); ?>

        <div class="container">
            <div class="row">
                <div class="span7 offset1">
                    <div id="page-content"> <?php echo $pageHtml ; ?> </div>
                </div>
                <div class="span3 offset1">
                    <?php echo $menuHtml ; ?> 
                </div>

            </div> <!-- row:content -->

        </div>   <!-- container -->

    </body>
</html>