<?php
    require_once ('wb-app.inc');
    require_once (APP_WEB_DIR.'/inc/header.inc');

    use \com\indigloo\Url as Url ;
    use \com\indigloo\util\StringUtil as StringUtil ;
    use \com\indigloo\wb\Constants as AppConstants;
    use \com\indigloo\wb\html\Application as AppHtml ;

    // get site_id injected in request
    $gWeb = \com\indigloo\core\Web::getInstance();
    $gSiteView = $gWeb->getRequestAttribute(AppConstants::SITE_SESSION_VIEW);
    $siteId = $gSiteView->id ;

    $seo_title = $router_params["token"];
    $postId = $router_params["post_id"];
    $postDao = new \com\indigloo\wb\dao\Post();
    $postDBRow = $postDao->getOnId($siteId,$postId);

    $gSelfUrl = Url::base().$router_options["path"];
    
    $G_BUTTONS = 
    AppConstants::TOOLBAR_NEW_POST 
    | AppConstants::TOOLBAR_SETTINGS 
    | AppConstants::TOOLBAR_EDIT_POST ;

    $toolbar_options = array("post_id" => $postId, "page_id" => $postDBRow["page_id"]);
    
    $siteDao = new \com\indigloo\wb\dao\Site();
    $siteDBRow = $siteDao->getOnId($siteId);
    $siteHeader = AppHtml::getSiteHeader($gSiteView,$siteDBRow["page_header"]);
    $siteFooter = AppHtml::getSiteFooter($gSiteView,$siteDBRow["page_footer"]);
    $pageHeader = AppHtml::getPostHeader($postDBRow);

?>

<!DOCTYPE html>
<html>

    <head>
        <title> <?php echo $postDBRow["title"] ?> </title>
        <?php echo $siteHeader; ?>
        <?php echo $pageHeader; ?>
        <?php echo \com\indigloo\wb\util\Asset::version("/css/wb-bundle.css"); ?>


    </head>

     <body>
        
        <?php echo AppHtml::getAppSiteToolbar(); ?>
        <?php echo AppHtml::getAppBanner($gSiteView); ?>
        <?php echo AppHtml::getAppToolbar($gSiteView,$G_BUTTONS,$toolbar_options); ?>

        <div class="container">

            <div class="row">
                <div class="span7 offset1">
                    
                    <div id="page-content">

                       <?php
                        $html =  \com\indigloo\wb\html\Application::getPost($postDBRow);
                        echo $html ;
                            
                        ?>
                    </div>
                </div>
                <div class="span3 offset1">
                  &nbsp;
                </div>

            </div> <!-- row:content -->

        </div>   <!-- container -->

        <?php echo $siteFooter; ?>
    </body>
</html>