
  <table class="table">
    <thead>
      <tr>
        <th>pages</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>

    	~foreach($view->rows as $row){~
    		<tr>
  	  		<td> ~~$row['title']~ </td>
          <td>

            <ul class="table-nav">
              <li class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                    Actions
                    <b class="caret"></b>
                  </a>
                <ul class="dropdown-menu">
                  <li> <a href="~~$row['href']~">&nbsp;open</a> </li>
                  ~if($row['hasEdit']) {~
                  <li> <a href="~~$row['editHref']~">&nbsp;edit</a> </li>
                  ~}~
                  <li> <a href="~~$row['newHref']~">&nbsp;+ add post</a> </li>
                </ul>
              </li>
            </ul>
          </td>
    		</tr>


    	~}~
     
    </tbody>
  </table>
 
 

