
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  	~foreach($view->rows as $row){~
  		<tr>
	  		<td> ~~$row['title']~ </td>
	  		<td> <a href="~~$row['href']~" target="_blank">&nbsp;open</a>
  		</tr>

  	~}~
   
  </tbody>
</table>

 

