<?php
    require_once ('wb-app.inc');
    require_once (APP_WEB_DIR.'/inc/header.inc');

?>

<!DOCTYPE html>
<html>

    <head>
        <title> <?php echo $gPageTitle ?> </title>
        <?php include("meta.inc") ?>
        <?php echo \com\indigloo\wb\util\Asset::version("/css/wb-bundle.css"); ?>


    </head>

     <body>
        <!-- facebook js -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=282966715106633";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <?php include("header.inc") ?>
        
        <div class="container">

            <div class="row">
                <div class="span11 offset1" style="border-bottom:1px solid #d5d5d5;padding-bottom:10px;padding-top:20px">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style ">
                        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                        <a class="addthis_button_tweet"></a>
                        <a class="addthis_button_pinterest_pinit"></a>
                        <a class="addthis_counter addthis_pill_style"></a>
                    </div>

                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e57380d63c7f2a1"></script>
                    <!-- AddThis Button END -->
                </div>

            </div> <!-- row:addthis -->

            <div class="row">
                <div class="span7 offset1">
                    
                    <div id="page-content">

                       <?php
                            foreach($widgetDBRows as $widgetDBRow) {
                                $html = \com\indigloo\wb\html\Application::getWidget($widgetDBRow);
                                echo $html ;
                            }
                        ?>
                    </div>

                    <!-- FB comments -->
                    <div class="fb-comments pt20" data-href="<?php echo $gSelfUrl; ?>" data-width="600" data-num-posts="10"></div>

                </div>
                <div class="span3 offset1">
                    <?php
                        foreach($gMenulinks as $gMenulink) {
                           $html = \com\indigloo\wb\html\Application::getPageTile($gMenulink);
                           echo $html ;
                        }
                    ?>
                    <div class="p20">
                        <a href="/sitemap">View all Posts &gt;</a>
                    </div>
                    
                </div>

            </div> <!-- row:content -->

        </div>   <!-- container -->

       


    </body>
</html>