<?php
    require_once ('wb-app.inc');
    require_once (APP_WEB_DIR.'/inc/header.inc');


?>

<!DOCTYPE html>
<html>

    <head>
        <title> Home page </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="website builder app">
        <meta name="description" content="website builder app description">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <?php echo \com\indigloo\wb\util\Asset::version("/css/wb-bundle.css"); ?>


    </head>

     <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a> <!-- 3bars for smaller screens -->

                    <div class="nav-collapse">
                        <ul class="nav">
                            <li> <a href="/"><i class="icon-home"></i>&nbsp;Home</a></li>
                        </ul>
                        
                    </div>

                </div>

            </div>
        </div> <!-- default toolbar -->
        
        <div class="container">

            <div class="row">
                <div class="span9">
                    <div id="tiles">
                        <?php
                            foreach($pageDBRows as $pageDBRow) {
                                $html = \com\indigloo\wb\html\Application::getPageTile($pageDBRow);
                                echo $html ;
                            }
                        ?>
                    </div>
                
                </div>
            </div> <!-- row:1 -->
            <div id="scroll-loading"> </div>

        </div>   <!-- container -->
        
        <?php $paginator->render($pageBaseUrl,$startId,$endId,$gNumRecords);  ?>

        <div class="row">

            <div class="span8 offset1">
                <div class="floatr">
                    <div id="footer">
                        <ul class="nav nav-pills">
                            <li> <a href="/"> Home </a> </li>
                             
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- footer -->

        <?php echo \com\indigloo\wb\util\Asset::version("/js/wb-bundle.js"); ?>
         <script type="text/javascript">

            $(function(){

                var $container = $('#tiles');

                $container.imagesLoaded(function(){
                    $container.isotope({ itemSelector: '.tile', layoutMode: 'masonry'});
                });

                $container.infinitescroll(
                    {
                        navSelector     : '.pager',
                        nextSelector    : '.pager a[rel="next"]',
                        itemSelector : '.tile',
                        bufferPx : 30,

                        loading : {
                            selector : "#scroll-loading",
                            img : "/css/asset/wb/round_loader.gif",
                            msgText: "<em>Please wait. Loading more items...</em>",
                            finishedMsg : "<b> You have reached the end of this page </b>",
                            speed: "slow"

                        }

                    },

                    function( newElements ) {
                         // hide new items while they are loading
                        var $newElems = $(newElements).css({ opacity: 0 });
                        $newElems.imagesLoaded(function(){
                            $newElems.css({ opacity: 1 });
                            $container.isotope('appended', $newElems);
                            $("#infscr-loading").fadeOut("slow");
                        });

                    }
                );

            });

        </script>

    </body>
</html>