<?php
    require_once ('wb-app.inc');
    require_once (APP_WEB_DIR.'/inc/header.inc');

    use \com\indigloo\wb\Constants as AppConstants;
    use \com\indigloo\wb\html\Application as AppHtml ;
    use \com\indigloo\Url ;
    
    $gWeb = \com\indigloo\core\Web::getInstance();
    $gSiteView = $gWeb->getRequestAttribute(AppConstants::SITE_SESSION_VIEW);
    $siteId = $gSiteView->id ;
    
   
    // current page
    $seo_title = "home" ;
    $pageDao = new \com\indigloo\wb\dao\Page();
    $postDao = new \com\indigloo\wb\dao\Post();

    $pageDBRow = $pageDao->getOnSeoTitle($siteId,$seo_title);
    $gPageId = $pageDBRow["id"];

    // current page posts
    $postDBRows = $postDao->getOnPageId($siteId,$gPageId);
    //to determine the edit link
    $gNumPosts = sizeof($postDBRows);

    // page title + links in menu
    $menuDBRows = $pageDao->getLatestTitles($siteId,10);
    $menuHtml = AppHtml::getPageMenu($gSiteView,$menuDBRows);
     
    $pageHtml = "" ;
    if($gNumPosts > 0) {
        foreach($postDBRows as $postDBRow) {
            $pageHtml .= AppHtml::getPost($postDBRow);
        }
    } else {
        // help content
        $pageHtml = AppHtml::getHelp("default.post.create");
    }

   $G_BUTTONS = 
    AppConstants::TOOLBAR_NEW_POST 
    | AppConstants::TOOLBAR_SETTINGS 
    | AppConstants::TOOLBAR_ALL_PAGES;

    if($gNumPosts > 0 ) {
        $G_BUTTONS = $G_BUTTONS | AppConstants::TOOLBAR_EDIT_PAGE ;
    }
    
    $toolbar_options = array("page_id" => $gPageId);

    // meta tags
    $siteDao = new \com\indigloo\wb\dao\Site();
    $siteDBRow = $siteDao->getOnId($siteId);
    $metaHtml = AppHtml::getSiteMetaData($gSiteView,$siteDBRow);
     
?>

<!DOCTYPE html>
<html>

    <head>
        <title><?php echo $gSiteView->name ; ?></title>
        <?php echo $metaHtml; ?>
        <?php echo \com\indigloo\wb\util\Asset::version("/css/wb-bundle.css"); ?>


    </head>

     <body>

        <?php echo AppHtml::getAppSiteToolbar() ?>
        <?php echo AppHtml::getAppBanner($gSiteView) ?>
        <?php echo AppHtml::getAppToolbar($gSiteView,$G_BUTTONS,$toolbar_options) ?>

        <div class="container">

             <div class="row">
                <div class="span7 offset1">
                    <div id="page-content"> <?php echo $pageHtml; ?> </div>
                </div>
                <div class="span3 offset1">
                  <?php echo $menuHtml ; ?>
                </div>

            </div> <!-- row:content -->

        </div>   <!-- container -->

         <div class="row">
            <div class="span11 offset1" style="border-bottom:1px solid #d5d5d5;padding-bottom:20px;">&nbsp;</div>
        </div>

    </body>
</html>