<?php
    require_once ('wb-app.inc');
    require_once (APP_WEB_DIR.'/inc/header.inc');

    use \com\indigloo\Url as Url ;
    use \com\indigloo\util\StringUtil as StringUtil ;
    use \com\indigloo\wb\Constants as AppConstants;
    use \com\indigloo\wb\html\Application as AppHtml ;

    $gWeb = \com\indigloo\core\Web::getInstance();
    $gSiteView = $gWeb->getRequestAttribute(AppConstants::SITE_SESSION_VIEW);
    $siteId = $gSiteView->id ;
    
   
    $seo_title = $router_params["token"];
    $pageDao = new \com\indigloo\wb\dao\Page();
    $pageDBRow = $pageDao->getOnSeoTitle($siteId,$seo_title);
    $gPageId = $pageDBRow["id"];

    // current page posts
    $postDBRows = $pageDao->getPostsOnId($siteId,$gPageId);
    //to determine the edit link
    $gNumPosts = sizeof($postDBRows);

    // page title + links in menu
    $menuDBRows = $pageDao->getLatestTitles($siteId,10);
    $menuHtml = AppHtml::getDefaultMenu($menuDBRows);
     
    $pageHtml = "" ;
    if($gNumPosts > 0) {
        foreach($postDBRows as $postDBRow) {
            $pageHtml .= AppHtml::getPost($postDBRow);
        }
    } else {
        // help content
        $pageHtml = AppHtml::getHelp("default.post.create");
    }

    // show all admin toolbar buttons
    $G_FULL_ADMIN_TOOLBAR = true ;
?>

<!DOCTYPE html>
<html>

    <head>
        <title> <?php echo $pageDBRow["title"] ?> </title>
        <?php include("meta.inc") ?>
        <?php echo \com\indigloo\wb\util\Asset::version("/css/wb-bundle.css"); ?>


    </head>

     <body>
        
        <?php include("header.inc") ?>
        
        <div class="container">
            <div class="row">
                <div class="span7 offset1">
                    <div id="page-content"> <?php echo $pageHtml ; ?> </div>
                </div>
                <div class="span3 offset1">
                    <?php echo $menuHtml ; ?> 
                </div>

            </div> <!-- row:content -->

        </div>   <!-- container -->

    </body>
</html>