
 
<div class="p20 box-shadow">
  <h1> Done! <br> 
  Your website address is <a href="~~$view->href~">~~$view->href~</a> </h1>
</div>

<div class="pt20">
  <p class="lead">
    Now consider adding a post to your website. After all, what is a website without content?
   
  </p>


<div class="p20">
  <a class="btn btn-large btn-primary" href="~~$view->postUrl~"> Add post to website </a>
  &nbsp;
  <a class="btn btn-large" href="~~$view->href~">I will do that later</a>
</div>

<div class="p10">
  To manage your website anytime, just 
  <ul>
    <li> Visit www.indigloo.com </li>
    <li> Click on Sign In link </li>
  </ul>
</div>


 

