<?php
    require_once ('wb-app.inc');
    require_once (APP_WEB_DIR.'/inc/header.inc');

    use \com\indigloo\wb\Constants as AppConstants;
    use \com\indigloo\Url ;
    
    $gWeb = \com\indigloo\core\Web::getInstance();
    $gSiteView = $gWeb->getRequestAttribute(AppConstants::SITE_SESSION_VIEW);
    $siteId = $gSiteView->id ;
    
    $postDao = new \com\indigloo\wb\dao\Post();
    $qparams = Url::getRequestQueryParams();

    $pageSize = 20;
    $paginator = new \com\indigloo\ui\Pagination($qparams,$pageSize);
    $paginator->setBaseConvert(false);

    $postDBRows = $postDao->getPaged($siteId,$paginator); 
    //to determine the edit link
    $gNumPosts = sizeof($postDBRows);


    //data for paginator
    $startId = NULL ;
    $endId = NULL ;
    $pageBaseUrl = "/" ;
    $gNumRecords = sizeof($postDBRows);

    if($gNumRecords > 0 ) {
        $startId = $postDBRows[0]["id"] ;
        $endId =   $postDBRows[$gNumRecords-1]["id"] ;
    }

    $G_NEW_POST_TOOLBAR = true ;
    $G_EDIT_POST_TOOLBAR = false ;

?>

<!DOCTYPE html>
<html>

    <head>
        <title><?php echo $gSiteView->name ; ?></title>
        <?php include("meta.inc") ?>
        <?php echo \com\indigloo\wb\util\Asset::version("/css/wb-bundle.css"); ?>


    </head>

     <body>

       <?php include("header.inc") ?>
        <div class="container">

            <div class="row">
                <div class="span12">
                    <div id="tiles">
                        <?php
                            foreach($postDBRows as $postDBRow) {
                                $html = \com\indigloo\wb\html\Application::getPostTile($postDBRow);
                                echo $html ;
                            }
                        ?>
                    </div>
                
                </div>
            </div> <!-- row:1 -->
            <div id="scroll-loading"> </div>

        </div>   <!-- container -->
        
        <div class="pt20">
            <?php $paginator->render($pageBaseUrl,$startId,$endId,$gNumRecords);  ?>
        </div>
        

        <?php echo \com\indigloo\wb\util\Asset::version("/js/wb-bundle.js"); ?>
         <script type="text/javascript">

            $(function(){

                var $container = $('#tiles');

                $container.imagesLoaded(function(){
                    $container.isotope({ itemSelector: '.tile', layoutMode: 'masonry'});
                });

                
                $container.infinitescroll(
                    {
                        navSelector     : '.pager',
                        nextSelector    : '.pager a[rel="next"]',
                        itemSelector : '.tile',
                        bufferPx : 30,

                        loading : {
                            selector : "#scroll-loading",
                            img : "/css/asset/wb/round_loader.gif",
                            msgText: "<em>Please wait. Loading more items...</em>",
                            finishedMsg : "<b> You have reached the end of this page </b>",
                            speed: "slow"

                        }

                    },

                    function( newElements ) {
                         // hide new items while they are loading
                        var $newElems = $(newElements).css({ opacity: 0 });
                        $newElems.imagesLoaded(function(){
                            $newElems.css({ opacity: 1 });
                            $container.isotope('appended', $newElems);
                            $("#infscr-loading").fadeOut("slow");
                        });

                    }
                ); 

            });

        </script>

         <div class="row">
            <div class="span11 offset1" style="border-bottom:1px solid #d5d5d5;padding-bottom:20px;">&nbsp;</div>
        </div>

    </body>
</html>