<?php
    require_once ('wb-app.inc');
    require_once (APP_WEB_DIR.'/inc/header.inc');

    use \com\indigloo\Url as Url ;
    use \com\indigloo\util\StringUtil as StringUtil ;
    use \com\indigloo\wb\Constants as AppConstants;

    // get site_id injected in request
    $gWeb = \com\indigloo\core\Web::getInstance();
    $gSiteView = $gWeb->getRequestAttribute(AppConstants::SITE_SESSION_VIEW);
    $siteId = $gSiteView->id ;

    $seo_title = $router_params["token"];
    $pageDao = new \com\indigloo\wb\dao\Page();
    $pageDBRow = $pageDao->getOnSeoTitle($siteId,$seo_title);
    $gPageId = $pageDBRow["id"];

    $gMenuPosts = $pageDao->getRandomPosts($siteId,7);
    $postDBRows = $pageDao->getPostsOnId($siteId,$gPageId);
    $gNumPosts = sizeof($postDBRows);
    $gSelfUrl = Url::base().$router_options["path"];
    

?>

<!DOCTYPE html>
<html>

    <head>
        <title> <?php echo $pageDBRow["title"] ?> </title>
        <?php include("meta.inc") ?>
        <?php echo \com\indigloo\wb\util\Asset::version("/css/wb-bundle.css"); ?>


    </head>

     <body>
        
        <?php include("page-header.inc") ?>
        
        <div class="container">

            <div class="row">
                <div class="span7 offset1">
                    
                    <div id="page-content">

                       <?php
                            foreach($postDBRows as $postDBRow) {
                                $html = \com\indigloo\wb\html\Application::getPost($postDBRow);
                                echo $html ;
                            }
                        ?>
                    </div>

                </div>
                <div class="span3 offset1">
                    <?php
                        foreach($gMenuPosts as $gMenuPost) {
                           $html = \com\indigloo\wb\html\Application::getPostTile($gMenuPost);
                           echo $html ;
                        }
                    ?>
                    <div class="p20">
                        <a href="/sitemap">View all Posts &gt;</a>
                    </div>
                    
                </div>

            </div> <!-- row:content -->

        </div>   <!-- container -->

    </body>
</html>